@model Personnel

@{
    ViewData["Title"] = "Personel Sil";
}

<h2>@ViewData["Title"]</h2>
<h3>Bu personeli silmek istediğinizden emin misiniz?</h3>
<div>
    <h4>@Model.FirstName @Model.LastName</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">Adı</dt>
        <dd class = "col-sm-10">@Model.FirstName</dd>
        <dt class = "col-sm-2">Soyadı</dt>
        <dd class = "col-sm-10">@Model.LastName</dd>
        <dt class = "col-sm-2">E-posta</dt>
        <dd class = "col-sm-10">@Model.Email</dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-danger">Sil</button>
        <a asp-action="Index" class="btn btn-secondary">İptal</a>
    </form>
</div>